/* Style for the pet card container */
.more-info {
    display: flex;
    flex-direction: column;
}

.more-info h1 {
    font-size: 2rem;
    color: var(--orange);
}

.more-info p {
    font-size: 1.2rem;
}

/* Style for the pet card buttons */
.more-info button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.more-info button.save {
    background-color: #5cb85c;
}

.more-info button.foster {
    background-color: #f0ad4e;
}

.more-info button.adopt {
    background-color: #d9534f;
}

.more-info button.return {
    background-color: #5bc0de;
}

/* Style for the pet card button container */
.more-info .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

/* Style for the pet card save button when already saved */
.more-info button.save.saved {
    background-color: #f0ad4e;
}