.pet-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.pet-wrapper h1 {
    font-size: 3rem;
    color: var(--orange);
    margin-bottom: 1rem;
}

.pet-wrapper h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.pet-wrapper p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.photo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-wrapper img {
    border-radius: 20px;
    margin: 1rem 0;
}


.pet-information {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 1rem;
}

.text-fields {
    width: 50%;
    border: 1px solid #00000510;
    border-radius: 10px;
    padding: 8px;
    margin-right: 8px;
}

.about {
    width: 50%;
    padding: 8px;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container img {
    width: 4.5rem;
    margin-left: 8px;
}

.button-container button.save {
    background-color: #5cb85c;
}

.button-container button.foster {
    background-color: var(--green);
}

.button-container button.adopt {
    background-color: var(--orange);
}

.button-container button.return {
    background-color: var(--blue);
}

.pet-wrapper .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.pet-wrapper button.save.saved {
    background-color: #f0ad4e;
}