.my-pets-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 1.5rem 2.5rem;
    box-shadow: rgba(17, 12, 46, 0.10) 0px 48px 100px 0px;
}

.pet-collections {
    display: flex;
    flex-direction: column;
}

.pet-collections h2 {
    text-decoration: underline;
    font-size: 1.5rem;
    color: var(--orange);
    margin: 8px 0;
}

.gallery {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 8px 0;
}

.no-pets {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.no-pets h2 {
    font-size: 2rem;
}

.no-pets button {
    font-size: 1.5rem;
}

.no-pets img {
    max-width: 50%;
    min-width: 30%;
    height: auto;
}

@media (max-width: 768px) {
    .my-pets-wrapper {
        width: 95%;
        padding: 1rem;
    }

    .pet-collections h2 {
        font-size: 1.2rem;
    }

    .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .no-pets h2 {
        font-size: 1.5rem;
    }

    .no-pets button {
        font-size: 1.2rem;
    }

    .no-pets img {
        max-width: 70%;
    }
}