.filter-wrapper {
    height: 4rem;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 2px 8px 0 rgba(51, 51, 51, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-wrapper form {
    display: flex;
    width: 80%;
}

.filtering-section {
    width: 60%;
}

.input-section {
    display: flex;
    width: 40%;
}

.search-bar {
    border-left: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
    padding-left: 1rem;
    width: 70%;
}

.search-bar input {
    width: 80%;
    height: 40px;
    border: 2px solid var(--grey);
    background-color: var(--white);
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    font-size: 1rem;
}

.search-bar input:focus {
    outline: none;
    border-color: var(--orange);
}

.search-by-container {
    width: 30%;
}