.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.login-form input {
    margin: 8px;
}

.login-form button {
    margin: 8px;
}

.login-header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.login-header h2 {
    font-style: italic;
    font-weight: 300;
}

.login-footer {
    align-self: flex-end;
}