.general-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.charts-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

@media (max-width: 950px) {
    .bar-chart-container {
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
    }
}