.site-header {
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--black);
    padding: 5px;
    text-decoration: underline;
    text-decoration-color: var(--black);
    flex: 1;
}

.site-header h1 {
    font-size: 2rem;
    color: var(--orange);
}

.site-header img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}