.hero-banner {
    background-image: url("../../assets/banner.jpg");
    background-color: var(--orange);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}

@media (max-width: 1400px) {
    .hero-banner {
        background-position: 28% 30%;
    }
}