.pet-card-content {
    padding: 10px 16px !important;
}

.pet-card-content span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.pet-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--orange);
}

.card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-flow: row;
    justify-items: flex-start;
    align-items: center;
}

.card-info div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
}

.card-info span {
    white-space: nowrap;
    text-overflow: ellipsis;
}